{% extends 'Main/layout.html' %}
{% load static %}

{% block title %}
О компании | Yarniverse Toys - онлайн-магазин материалов для вязания
{% endblock %}

{% block content %}
<p class="textp">Мы, компания Yarniverse Toys, помогаем людям с разным опытом в вязании, которые решили приобрести материалы для вязания, решать проблему отсутствия универсального онлайн-магазина с помощью создания Web-приложения, которое совмещает в себе автоподбор материалов и эксклюзивные мастер-классы по демократичным ценам, и получать материалы для вязания без лишних затрат времени на их поиск
</p>

<div class="left">
   <img src="{% static 'Main/img/LamaLogo.png' %}" alt="Логотип">
</div>
{% endblock %}
